@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.background-image
{
  background-image: url('https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/patchnotes/body/mwiii/mp/preseason/MWIII_Preseason_PatchNotes.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 800px;
}

.theLogo
{
    display: flex;
}

.mwLogo
{
  height: 200;
}

