@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.background-image
{
  background-image: url('https://assets-prd.ignimgs.com/2023/11/03/mw3-blog-1699032197236.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 800px;
}

.theLogo
{
    display: flex;
}

